<div class="container" cdkDropListGroup>
  <div
    class="drag-area"
    id="cdkDragList"
    cdkDropList
    [cdkDropListData]="dragList"
  >
    <div *ngFor="let drag of dragList" cdkDrag cdkDragBoundary=".container">
      {{ drag }}
    </div>
  </div>

  <div class="drop-area">
    <div
      style="border: 1px solid red; width: 200px; height: 200px"
      id="dropListItem1"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListData]="dropList"
    ></div>
    <div
      style="border: 1px solid red; width: 200px; height: 200px"
      id="dropListItem2"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListData]="dropList"
    ></div>
    <!-- <div
      style="border: 1px solid red; width: 200px; height: 200px"
      class="dropList"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListData]="dropList"
    ></div>
    <div
      style="border: 1px solid red; width: 200px; height: 200px"
      class="dropList"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListData]="dropList"
    ></div>
    <div
      style="border: 1px solid red; width: 200px; height: 200px"
      class="dropList"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListData]="dropList"
    ></div>
    <div
      style="border: 1px solid red; width: 200px; height: 200px"
      class="dropList"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListData]="dropList"
    ></div> -->
  </div>
</div>
